{% extends "plantilla.base.php.twig" %}

{% block titulo %}

{% endblock %}

{% block contenido %}


<body class="body">

			<div class="row">
			<div class="col-sd-12 mx-auto">
				<img class="logo" src="img/logo.png" alt="logo" />
			</div>
			</div>

		    
            <div class="row">
                <div class="col-sd-12 mx-auto mb-5">
                    <h4>Regístrate y comienza a disfrutar de las ventajas</h4>
                </div>
            </div>
       
	  
			<form class= "form-group" action ="index.php" method="get">
			<input type="hidden" name="con" value="Usuario" />
			<input type="hidden" name="ope" value="anadir" />

			<div class="form-group">
            <div class="col-md-6 mx-auto">

			<label class="col-form-label"  for="id"></label>
			<input class="form-control"  type="text" id="id" name="id" hidden />
			<br/>			
		    <label class="col-form-label"  for="email">Email: </label>
			<input class="form-control" type="text" id="Email" name="Email" />
			<br/>
			<label class="col-form-label"  for="nom">Nombre: </label>
			<input class="form-control" type="text" id="nom" name="nom" />
			<br/>
			<label class="col-form-label"  for="ape">Apellidos: </label>
			<input class="form-control"  type="text" id="ape" name="ape" />
			<br/>
            
		    <label class="col-form-label"  for="nom">Fecha de Nacimiento: </label>
			<input class="form-control" type="date" id="fec" name="fec" />
			<br/>		
				
			 <label class="col-form-label" for="pass">Contraseña: </label>
			<input class="form-control"  type="text" id="pass" name="pass" />
			<br/>
			<label class="col-form-label"  for="pass">Confirma contraseña: </label>
			<input class="form-control"  type="text" id="pass2" name="pass2" />
			<br/>
            </div>
	
	         <div class="row form-group">
				<div class="col-md-12 mx-auto text-center">
					<button class="btn btn-primary w-50" type="submit">Aceptar</button>
				</div>
			</div>	
		</form>
	</div>

{% endblock %}

{% block footer %}	
<footer>
        <div class="footer">
            <br></br>
            <br></br>

            Autor: Álvaro López </br>
                <a href="https://twitter.com/ElRincondeVaro" class="btn btn-link">Sígueme en Twitter</a>

            </p>

        </div>

</footer>
{% endblock %}
